#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

h1 {
    font-size: 2.5em;
    color: #333;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    width: 35vw;
    height: 35vw;
    min-height: 30vh;
    margin-bottom: 30px;
    background-color: #fff;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0.7em;
    min-height: 0.7em;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 7em;
    cursor: pointer;
    padding: 1vw;
    transition: background-color 0.3s;
}

.square:hover {
    background-color: #f0f0f0;
}

#controls,
#message {
    text-align: center;
    margin: 0.2em;
}

#message {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
    color: #333;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}

#message.active {
    transform: scale(1);
}

input {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

